@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-dark::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #535353; /* A darker gray background */
    background-color: rgba(45, 55, 72, var(--bg-opacity));
}

.scrollbar-thumb-darker::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #4a5568; /* A dark gray color for the thumb */
    background-color: rgba(74, 85, 104, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
